@font-face {
    font-family: "Title";
    src: url("Assets/Fonts/title.woff2") format("woff2"); /* font for title*/
}

@font-face {
    font-family: "Info";
    src: url("Assets/Fonts/info.woff2") format("woff2"); /*font for time and flips*/
}

@font-face {
    font-family: "Start";
    src: url("Assets/Fonts/start.woff2") format("woff2"); /*font for "click to start"*/
}

* {
    box-sizing: border-box;
}

html{ 
    min-height: 100vh; /*makes background stretch to at least full height of the screen*/
    cursor: url("Assets/Cursors/cookie1.cur"), auto;
}

body{ /*background color gradient*/
    margin: 0;
    background: radial-gradient(#f01e2c, #c30010);
}

.page-title{ /*title color size allignment etc*/
    color: white;
    font-family: Title, serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    
}

.game-info {
    color: white;
    font-family: Info, serif;
    font-weight: bold;
    font-size: 2em;

}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-gap: 20px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card:hover {
    cursor: url("Assets/Cursors/cookie2.cur"), auto;
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0);
}

.card.matched .card-value{
    animation: dance 1s linear infinite 500ms;

}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center; 
    z-index: 100;
    color: white;
    font-family: Start, serif;

}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards; 
}

@keyframes overlay-grow{
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back {
    background-color: #357a38;
    border-color: #add8e6
}

.card-front {
    background-color: #449e48;
    border-color: #add8e6;
    transform: rotateY(180deg);
}

.card-value{
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value{
    transform: scale(1);
}

.snowflake {
    position: absolute;
    width: 47px;
    height: 47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out
}

.card-face:hover .snowflake{
    width: 52px;
    height: 52px;
}

.snowflake-top-left{
    top: 0;
    left: 0;
}

.snowflake-top-right{
    transform: rotate(90deg);
    top: 0;
    right: 0;
}

.snowflake-bottom-left{
    transform: rotate(270deg);
    bottom: 0;
    left: 0;
}

.snowflake-bottom-right{
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
}

.star {
    align-self: center;
    width: 70px;
    height: 80px;
    transition: transform 100ms ease-in-out;
}

.card-back:hover .star{
    transform: rotate(360deg);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

